.cabecera {
    padding: 0 10% 0 10%;
    background-color: var(--color_cabecera);
    height: 5rem;
    display: flex;
    align-items: center;
}
.comercio__logo{
    background-color: var(--color_bkg-logo);
    padding: 0 15px 0 15px;
    border-radius: 20px;
}
.cabecera__contenedor {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cabecera__contenedorb {
    width: 100%;
    display: flex;
}
.cabecera__buscar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.cabecera__input::placeholder {
    color: var(--color_buscar-texto);
}
.cabecera__input {
    padding: 0 55px 0 25px;
    outline: none;
    width: 40%;
    height: 35px;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    background-color: var(--color_buscar-bkg);
}

.cabecera__icono {
    width: 20px;
    position: absolute;
    display: block;
    user-select: none;
    padding: 10px;
    border-radius: 50%;
    top: 50%;
    right: 32%;
    transform: translateY(-50%);
    transition: 0.5s;
    text-align: center;
}
.cabecera__login {
    width: 120px;
    height: 40px;
    background-color: var(--color_boton-login);
    color: var(--color_boton-fuente);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    border: none;    
}

@media screen and (max-width: 1007px) {
    .cabecera{
        padding: 0 3% 0 3%;
    }
    .cabecera__input{
        width: 70%;        
    }
    .cabecera__icono{
        right: 16%;        
    }  
}

@media screen and (max-width: 640px) {
    .cabecera__login{
        width: 90px;
        margin-left: 15px;
        
    }
    .cabecera__contenedorb{
        flex-direction: row-reverse;
        
    }
    .cabecera{
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    .comercio__logo{
        width: 40%;
    }

    .cabecera__buscar{
        position: relative;
        justify-content: flex-end;
        padding-right: 15px;     
    }
    .cabecera__input{
        width: 0;
        transition: all .7s ease;
        box-sizing: border-box;
    }
    .cabecera__icono{
        position: absolute;
        cursor: pointer;
        transition: .5s;
        right: 10%;        
        top: 50%;
    }
    .cabecera__icono i {
        transition: all .7s ease;
    }
    .cabecera__buscar:hover .cabecera__input {
        width: 150px;
    }
    .cabecera__buscar:hover i {
        transform: rotate(-360deg);
    }
    
}