.footer{
    display: flex;
    flex-direction: column;
    padding: 40px 10% 0 10%;
    background-color: var(--color_footer);
}
.footer__logo{
    background-color: var(--color_bkg-logo);
    padding: 0 15px 0 15px;
    border-radius: 20px;
    height: 50px;
    display: flex;
    justify-content: center;
}
.footer__contenedor{
    height: 300px;
    display: flex;
    justify-content: space-between;    
}
.footer__contenedorb{
    display: flex;
    width: 45%;
    justify-content: space-between;
}
.contacto__lista{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: .9rem;
    font-weight: 600;
}
.formulario{
    width: 45%;
}
.formulario__contenedor{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}
.formulario__titulo{
    font-size: 1rem;
    font-weight: 600;
}
.formulario__nombre{    
    width: 100%;
    box-sizing: border-box;
    height: 35px;
    border: none;
    outline: none;
    background-color: var(--color_bkg-card);
    font-size: 1rem;
    padding: 0 0 0 20px;
    font-family: var(--raleway);
    font-size: 1rem;
    font-weight: 500;
}
.formulario__nombre::placeholder {
    color: var(--color_buscar-texto);
    font-size: 1rem;
    font-weight: 500;    
}
.formulario__textarea{
    width: 100%;
    height: 100px;
    resize: none;
    border: none;
    outline: none;
    background-color: var(--color_bkg-card);
    font-size: 1rem;
    font-family: var(--raleway);
    font-size: 1rem;
    font-weight: 500;
    box-sizing: border-box;
    padding: 15px 20px 15px 20px;
}
.formulario__textarea::placeholder{
    color: var(--color_buscar-texto);
    font-size: 1rem;
    font-weight: 500;    
}
.formulario__boton{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: var(--color_boton-enviar);
    font-size: 1rem;
    font-weight: 600;
    color: var(--color_boton-fuente);  
    cursor: pointer;  
}
.footer__dev{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: .85rem;
    font-weight: 600;
}

@media screen and (max-width: 1007px) {
    .footer{
        padding: 60px 3% 0 3%;
    }
    .footer__logo{
        width: 70%;
    }
    .footer__contenedorb{
        flex-direction: column;
        padding-right: 40px;
    }    
    .formulario{
        width: 70%;
    }
    .contacto{
        padding: 0 0 0 10%;
    }
    .contacto__lista{
        justify-content: space-around;
    }
}

@media screen and (max-width: 640px) {    
    .footer__contenedor{
        flex-direction: column;
        height: 600px;
        padding: 0 3% 50px 3%;
    }
    .footer__contenedorb{
        width: 100%;
        align-items: center;        
    }
    .footer__logo{
        padding: 0 0 0 0;
        width: 60%;
    }
    .contacto{
        padding: 0;
    }
    .contacto__lista{
        padding-top: 20px;
    }
    .formulario{
        width: 100%;        
    }
    .formulario__contenedor{
        width: 100%;        
    }
    
}