main {
    height: 70vh;
    background-color: var(--color_bkg);
}
.login {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login__contenedor {
    width: 30%;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    background-color: var(--color_cabecera);
    border-radius: 15px;
}
.login__titulo {
    color: var(--color_boton-login);
}
.input__contenedor {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.input {
    width: 100%;
    height: 50px;
    border: none;
    font-family: var(--raleway);
    font-weight: 500;
    font-size: 1rem;
    background-color: var(--color_bkg-card);
    padding: 15px;
    box-sizing: border-box;
}
.input:focus {
    outline: none;
}
.login__boton {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: var(--color_boton-enviar);
    font-size: 1rem;
    font-weight: 600;
    color: var(--color_boton-fuente);
    cursor: pointer;
}

@media screen and (max-width: 1007px) {
    
    .login__contenedor{
        width: 80%;        
    }
}