main {
    background-color: var(--color_bkg);
}
.producto {
    padding: 40px 0 0 0;
    width: 100%;
    background-color: var(--color_bkg);
}
.producto__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
.producto__contenedor {
    display: flex;
    flex-direction: column;
    padding: 0 10% 0 10%;
}
.producto__lista {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}
.producto__item {
    width: 150px;
    background-color: var(--color_bkg-card);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 240px;
    border-radius: 20px;
    box-shadow: 7px 7px 2px var(--boxshadow_normal);
    transition: 0.4s all;
    margin-bottom: 15px;
}
.producto__item:hover {
    box-shadow: 7px 7px 14px var(--boxshadow_hover);
}
.producto__img {
    border-radius: 15px;
}
.producto__nombre {
    font-weight: 600;
    font-size: 1.2rem;
}
.producto__precio {
    font-weight: 600;
    font-size: 1rem;
}
.producto__link {
    color: var(--color_producto);
    font-weight: 500;
    font-size: 1rem;
}
.producto__todolink {
    color: var(--color_bkg-card);
    font-weight: 600;
    font-size: 1rem;
}
.agregarProducto__boton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: var(--color_boton-enviar);
    font-size: 1rem;
    font-weight: 600;
    color: var(--color_boton-fuente);
    cursor: pointer;
}
@media screen and (max-width: 1007px) {
    .titulo {
        padding-left: 2%;
    }
    .producto__todolink {
        padding-right: 2%;
    }
    .producto__contenedor {
        padding: 0 3% 0 3%;
    }
    .producto__lista {
        gap: 25px;
    }
    .producto__lista {
        justify-content: center;
    }
    .producto__item:hover {
        box-shadow: 7px 7px 2px var(--boxshadow_normal);
    }
    .producto__nombre {
        font-size: 1.2rem;
    }
    .producto__precio {
        font-size: 1.3rem;
    }
    .producto__link {
        font-size: 1rem;
    }
}

@media screen and (max-width: 640px) {
    .producto__header-agregar {
        flex-direction: column;
        align-items: flex-start;
    }
    .producto__titulo.mobil{
        padding-bottom: 25px;
    }
    .titulo {
        padding-left: 0;        
    }
    .producto__todolink {
        padding-right: 3%;
    }
    .producto__lista {
        gap: 13px;
    }
    .producto__item {
        width: 40%;
    }
}
