.cabecera__resultado{
    position: absolute;
    top: 60px;
    width: 23%;
    height: auto;
    background: var(--color_crema);
    padding: 20px;
    font-size: 1rem;
    font-weight: 500;
    display: none;
    border-radius: 15px;
    border-color: var(--color_cafe);
    border-style: dashed;
    border-width: 2px;
    transform: translate(-20%);
}
.limpiar{
    position: absolute;
    cursor: pointer;
    display: none;
    top: 70px;
    right: 33%;
}

.clean{
    width: 30px;
}
@media screen and (max-width: 1007px) {
    .cabecera__resultado{
        width: 35%;
    }
}
@media screen and (max-width: 640px) {
    .cabecera__resultado{
        width: 200px;
    }
    .limpiar{
        top: 70px;
        right: 70px;
    }
}