.variedad {
    padding: 40px 0 20px;
    width: 100%;
    background-color: var(--color_bkg-variedad);
}
.variedad__contenedor {
    display: flex;
    flex-direction: column;
    padding: 0 10% 0 10%;
}
.variedad__lista {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.variedad__item {
    width: 150px;
    background-color: var(--color_bkg-card);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 240px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 7px 7px 2px var(--boxshadow_normal);
    transition: .4s all;
}
.variedad__item:hover{    
    box-shadow: 7px 7px 14px var(--boxshadow_hover);
}
.variedad__img {
    border-radius: 15px;
}
.variedad__nombre {
    font-weight: 600;
    font-size: 0.9rem;
}
.variedad__precio {
    font-weight: 600;
    font-size: 1rem;
}
.variedad__link {
    color: var(--color_producto);
    font-weight: 500;
    font-size: 1rem;
}
